body {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0;

  font-family: Lato-Light, Arial, sans-serif;
  font-size: 12px;
  color: #000000;

  background-color: #ffffff;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  justify-content: center;

  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  background-color: #323232;
}

.main-header > a {
  order: 2;

  margin: 0 26px;
  margin-top: auto;
}

.main-navigation {
  width: 40%;
}

.main-navigation ul{
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation a{
  display: block;
  padding: 26px 13px;

  color: inherit;
  font-size: 10px;
  text-transform: uppercase;
}

.main-navigation a:hover{
  color: #2eb398;
}

.main-left-navigation {
  order: 1;
}

.main-left-navigation ul>li:first-child {
  margin-left: auto;
}

.main-right-navigation {
  order: 3;
}

.triangle {
  width: 0;
  height: 0;
  margin: 0 auto;
  margin-bottom: 65px;

  border-style: solid;
  border-width: 25px 47.5px 0 47.5px;
  border-color: #323232 transparent transparent transparent;
}

.images {
  position: relative;
}

.images-row {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.images-row li {
  position: relative;

  margin: 0 12px;
}

.first-images-row {
  margin-bottom: 130px;
}

.second-images-row {
  position: absolute;
  top: 260px
}

.third-images-row {
  margin-bottom: 55px;
}

.images-bread-crumbs {
  justify-content: start;

  margin: 0 30px;
  margin-bottom: 12px;

  border-bottom: 1px solid #ddd2c5;
}

.images-bread-crumbs li {
  width: 6px;
  height: 6px;

  margin: 0 2px;

  background-color: #ddd2c5;
}

.images-bread-crumbs li:hover {
  cursor: pointer;
}

.images-bread-crumbs li:first-child {
  margin: 0;
  margin-right: 2px;
}

.images-bread-crumbs li:nth-child(3) {
  background-color: #8b8784;
}

.images-bread-crumbs li:last-child {
  margin-bottom: 10px;
}

.about-designer {
  display: flex;
  justify-content: space-between;

  padding: 68px 120px;

  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;

  background-color: #2eb398;
}

.about-designer img {
  width: 180px;
  height: 206px;
}

.about-designer-info {
  width: 580px;
}

.about-designer-info h3 {
  margin: 0;
  font-size: 30px;
  color: #d7fcf5;
}

.about-designer-info p {
  margin: 0;

  color: #20816d;
  font-size: 18px;
  line-height: 21.6px;
}

.about-designer-info p+p {
  margin-bottom: 37px;

  font-family: 'Lato', sans-serif;
  color: #d7fcf5;
  font-size: 12px;
}

.about-designer-social {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.about-designer-social a {
  display: block;
  min-width: 25px;
  margin-right: 1px;
  padding: 6px 0;

  text-align: center;
  background-color: #a5dbd4;
}

.about-designer-social .twitter {
  background-color: #6ccbbe;
}

.about-designer-social .google,
.about-designer-social .dribbble {
  background-color: #7ed0c5;
}

.contact {
  padding: 14px 30px;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #bebebe;

  background-color: #323232;
}

.contact-wrapper {
  margin-bottom: 16px;
  padding: 0 90px;
  padding-top: 55px;

  border-top: 1px solid #2b2b2b;
}

.contact-wrapper h2,
.contact-wrapper p {
  margin: 0;

  font-family: 'Maven Pro', sans-serif;
}

.contact-wrapper h2 {
  font-size: 30px;
  color: #e0e0e0;
}

.contact-wrapper p {
  font-size: 18px;
  line-height: 21.6px;
}

.contact-form-wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0 90px;
}

.contact-form {
  width: 580px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  box-sizing: border-box;

  width: 100%;
  margin-bottom: 16px;
  padding: 0 5px;

  font: inherit;
  color: #bebebe;

  border: none;
  background-color: #454545;
}

.contact-form input {
  height: 38px;
}

.contact-form input:first-child {
  margin-top: 0;
}

.contact-form textarea {
  height: 150px;
  width: 100%;
  padding-top: 5px;

  resize: none;
}

.contact-form button {
  display: block;

  margin-left: auto;
  margin-top: 10px;
  padding: 10px 32px;

  font: inherit;
  font-size: 12px;
  color: #d7fcf5;
  line-height: 21.6px;

  border: none;
  background-color: #2eb398;
}

.contact-form button:hover {
  cursor: pointer;
}

.contact-info {
  width: 180px;

  font-size: 12px;
  line-height: 21.6px;
}

.contact-info p {
  margin: 0;
  margin-bottom: 29px;
}

.contact-info span {
  font-weight: 900;
  color: #e0e0e0;
}

.contact-info ul {
  margin: 0;
  padding: 0;

  font-weight: 700;
  list-style: none;
}

.contact-info a {
  color: inherit;
}

.contact-info a > i {
  display: inline-block;
  width: 20px;
  color: #2eb398;
}

.main-footer p{
  margin: 0;
  padding: 15px 40px;

  font-family: 'Maven Pro', sans-serif;
  color: #454545;
  font-size: 12px;

  background-color: #222222;
}
